[flake8]
max-line-length = 120
select = C,E,F,W,B,B950
ignore = E203, E501, W503
max-complexity = 13
per-file-ignores =
    pipeline/recon/__init__.py:F401
    pipeline/models/__init__.py:F401
    pipeline/recon/web/__init__.py:F401
    pipeline/luigi_targets/__init__.py:F401
