[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pre-commit = "*"
coverage = "*"
sphinx = "*"
sphinx-argparse = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-napoleon = "*"

[packages]
cmd2 = "*"
luigi = "*"
sqlalchemy = "*"
python-libnmap = "*"

[requires]
python_version = "3.7"
